<div class="page-header">
    <h1>Exercício técnico</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>O projeto</h2>
        <p>Aplicação Web que utiliza uma arquitetura semelhante ao DDD.</p>
        <p>Utilizando alguns frameworks que a Hiper utiliza, como AutoMapper, FluentValidation, Unity. Sinta-se livre para utilizá-los.</p>
    </div>
    <div class="col-md-6">
        <h2>Entregas</h2>

        <p>Criar o domínio, serviços e outros padrões implementados para realizar o cadastro do pedido no aplicativo Web.</p>
        <p>Criar o controller na API que irá receber as sincronizações de pedidos cadastrados no aplicativo Windows.</p>
        <p>Criar controller e interface na aplicação MVC que irá listar os pedidos, e outra interface que irá detalhar o pedido.</p>
    </div>
</div>