<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>    
    <add key="EnderecoApi" value="http://localhost:64294/" />
  </appSettings>
  
  <connectionStrings>
    <!-- Configure seu banco aqui -->
    <add name="Chronos.Windows.Connection" providerName="System.Data.SqlClient" connectionString="Data Source=(local)\hiper; Initial Catalog=Hiper; Integrated Security=false;User Id=sa;Password=hiper;MultipleActiveResultSets=True;" />

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>