<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Configure seu banco aqui -->
    <!--<add name="Chronos.Windows.Connection" providerName="System.Data.SqlClient" connectionString="Data Source=(local)\hiper; Initial Catalog=Hiper; Integrated Security=false;User Id=sa;Password=hiper;MultipleActiveResultSets=True;" />-->
    <add name="Chronos.Windows.Connection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\NICACIO\HIPER\PROJETOHIPER\WINDOWS\CHRONOS.WINDOWS\HIPER.MDF;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>